<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
    </startup>

  <system.serviceModel>
    <behaviors>
      <serviceBehaviors>
        <!-- Allow Metadata Exchange using HTTP Get: Specify as behaviorConfiguration on the Service -->
        <behavior name="mexBehaviour">
          <serviceMetadata httpGetEnabled="true"/>
          <serviceDebug includeExceptionDetailInFaults="true"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <services>
      <!-- Fully Qualified Name of the Interface Implementation: Namespace.Class -->
      <service name="WPF.DashboardImpl.WCF.Implementation.DashboardService" behaviorConfiguration="mexBehaviour">
        <!-- TCP + Binary Client -->
        <endpoint address="DashboardService" binding="netTcpBinding" bindingConfiguration="" contract="WPF.DashboardImpl.WCF.Interfaces.IDashboardService">
        </endpoint>
        <host>
          <baseAddresses>
            <!-- Full Address for the Tcp Endpoint: net.tcp://localhost:8090/DashboardService -->
            <add baseAddress="net.tcp://localhost:8090/"/>
            <add baseAddress="http://localhost:8080/"/>
          </baseAddresses>
        </host>
      </service>
    </services>
  </system.serviceModel>
  
</configuration>