<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="WPF.DashboardStarter.Properties.Dashboard" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <appSettings>
    
    <add key="LaunchPrograms_1" value="C:/Program Files (x86)/Log4View V2/Log4View.exe|Log4View|Real-Time Logging Software" />
    <add key="LaunchPrograms_2" value="C:/Program Files (x86)/Internet Explorer/iexplore.exe|Internet Explorer|Browse the Interwebs with this" />
    <add key="LaunchPrograms_3" value="C:/Program Files/Notepad++/notepad++.exe|Notepad++|The best Text Editor out there :)" />

  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
  </startup>
  <userSettings>
    <WPF.DashboardStarter.Properties.Dashboard>
      <setting name="IconPath" serializeAs="String">
        <value>White</value>
      </setting>
      <setting name="ShowSidebar" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="Localization" serializeAs="String">
        <value>Windows</value>
      </setting>
      <setting name="CurrentSkin" serializeAs="String">
        <value>Teal</value>
      </setting>
      <setting name="IconColor" serializeAs="String">
        <value>White</value>
      </setting>
    </WPF.DashboardStarter.Properties.Dashboard>
  </userSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Threading.Tasks.Extensions" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.2.0.1" newVersion="4.2.0.1" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="log4net" publicKeyToken="669e0ddf0bb1aa2a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.0.9.0" newVersion="2.0.9.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.serviceModel>
    <bindings>
      <netTcpBinding>
        <binding name="NetTcpBinding_IDashboardService">
          <security>
            <transport sslProtocols="None" />
          </security>
        </binding>
      </netTcpBinding>
    </bindings>
    <client>
      <endpoint address="net.tcp://localhost:8090/DashboardService" binding="netTcpBinding" bindingConfiguration="NetTcpBinding_IDashboardService" contract="DashboardService.IDashboardService" name="NetTcpBinding_IDashboardService">
        <identity>
          <userPrincipalName value="DESKTOP-VUCHBMA\RBant" />
        </identity>
        <headers>
          <ClientIdentification>ASP_Client</ClientIdentification>
        </headers>
      </endpoint>
    </client>
  </system.serviceModel>
</configuration>